{% extends 'base.html' %}

{% block title %} Detail | | Mashina {% endblock %}

{% block content %}
<div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-content">
	                                <div class="toolbar">
	                                    <!--Here you can write extra buttons/actions for the toolbar-->
	                                </div>
	                                <table id="bootstrap-table" class="table">
	                                    <thead>
	                                        <th data-field="state">Key</th>
	                                        <th data-field="id" class="text">Value</th>

	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td>Nomi</td>
	                                        	<td>{{root.name}}</td>

	                                        </tr>
											<tr>
	                                            <td>Davlat raqami</td>
	                                        	<td>{{root.dav_raqami}}</td>

	                                        </tr>
											<tr>
	                                            <td>Ishlab chiqarilgan yili</td>
	                                        	<td>{{root.yili}}</td>

	                                        </tr>
											<tr>
	                                            <td>rangi</td>
	                                        	<td>{{root.rangi}}</td>

	                                        </tr>

	                                    </tbody>
	                                </table>
									<a href="{% url 'mashina' %}">
									 <button
										 type="button" class="btn btn-wd btn-default btn-fill btn-move-left">
											<span class="btn-label">
												<i class="ti-angle-left"></i>
											</span>
											Back to list
									</button>
									</a>
									<a href="{% url 'mashina_edit' pk=root.id %}">
									 <button
										 type="button" class="btn btn-wd btn-success btn-fill btn-move-left">
											<span class="btn-label">
												<i class="fa fa-edit"></i>
											</span>
											Tahrirlash
									</button>
									</a>
									<a class="dropdown-item" data-toggle="modal" data-target="#deleteModal" style="color: #000">
									 <button
										 type="button" class="btn btn-wd btn-danger btn-fill btn-move-left">
											<span class="btn-label">
												<i class="fa fa-trash"></i>
											</span>
											Delete
									</button>
									</a>
	                            </div>

	                        </div><!--  end card  -->

	                    </div> <!-- end col-md-12 -->
	                </div> <!-- end row -->
	            </div>
	        </div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">O'chirish</h5>
                    <button class="close btn-rotate" type="button" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">Rostdan ham ({{ root.name}}) ni o'chirmoqchimisiz?</div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" data-dismiss="modal">Yo'q</button>
                    <a class="btn btn-danger" href="{% url 'mashina_del' pk=root.id %}">Ha</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}